@use "base.scss" as *;

.features{
   // background-color: $color-grey-light-2;
    grid-column: center-start / center-end;
    margin: 15rem 0;
    //==========================================
    display: grid;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   
   
}

.feature{

    display: grid;
   // row define is not necessary here
    grid-template-columns: min-content 1fr;
    gap: 1.2rem;

    &__icon{
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        grid-row: 1 / 3;
        
        
    }

    &__text{
        font-size: 1.7rem;
    }
}