@use "base.scss" as *;

.header{
    grid-column: full-start / col-end 7;
    @media only screen and (max-width: $bp-medium) {
        grid-column: full-start / full-end;
      }
    background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)) ,url("../img/header-img/background-img.jpg");
    background-size: cover;
    background-position:top right;
    padding: 8rem;
    padding-top: 4rem;
    @media only screen and (max-width: $bp-small) {
       padding: 5rem;
      }
    // define grid
    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    grid-template-columns: minmax(min-content, max-content);
    row-gap: 1.5rem;
    justify-content: center;

    &__logo{
        height: 4rem;
        justify-self: center;

    }
    &__press-logos-title{
        font-size: 1.4rem;
        color: $color-grey-light-2;
        text-transform: uppercase;

        // grid define
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        column-gap: 2rem;
        align-items: center;

        &::before,
        &::after{
            content: "";
            height: 1px;
            background-color: currentColor;
            display: block;
        }
    }
    &__press-logos{
       
        // define grid
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 2rem;
        justify-items: center;

        img{
            cursor: pointer;
            max-height: 2.5rem;
           
            max-width: 100%;
            filter: brightness(50%)
        }
    }

    &__btn{
        justify-self: start;
        align-self: self-start;
        margin-top: 2rem;
    }
}